# Connect to Supabase with PgBouncer.
# E.g consumes by prisma client in future
DATABASE_URL="postgres://postgres.gtuequstglbcksoqcfar:SupportSransa1!@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations.
# E.g for development usages
DIRECT_URL="postgresql://postgres:SupportSransa1!@db.gtuequstglbcksoqcfar.supabase.co:5432/postgres"

